@model ANTS.Models.Rating

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "EditComplain";
}

<h2>Edit Complain</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Rating</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ratingid)

    <input type="hidden" name="userid" value="@Model.userid" />

    <input type="hidden" name="packageid" value="@Model.packageid" />


    <input type="hidden" name="rating1" value="@Model.rating1" />

    <div class="form-group">
        @Html.LabelFor(model => model.complain, "Complain", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.complain, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.complain, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.complainstatus, "Complain Status", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.complainstatus, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.complainstatus, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "ViewComplains")
</div>
