@model ANTS.Models.Package

@{
    ViewBag.Title = "Details"; 
    Layout = "~/Views/Shared/SellerLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Package</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.userid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.packagename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.packagename)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.discount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.discount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createdat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createdat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.advertisement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.advertisement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.approvestatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.approvestatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.packageid }) |
    @Html.ActionLink("Back to List", "Show")
</p>
