@model IEnumerable<ANTS.Models.Order>

@{
    Layout = "~/Views/Shared/SellerLayout.cshtml";
    ViewBag.Title = "ShowSearchOrders";
}

<h2>ShowSearchOrders</h2>

<p>
    @Html.ActionLink("Back to List", "ShowOrders")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.sellerid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.customerid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.customerphone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.customeraddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.packageid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ordername)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.paytype)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.totalprice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.createdat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.sellerid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.customerid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.customerphone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.customeraddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.packageid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ordername)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.paytype)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.totalprice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.createdat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>

    </tr>
}

</table>
