@model IEnumerable<ANTS.Models.Package>

@{
    Layout = "~/Views/Shared/SellerLayout.cshtml";
    ViewBag.Title = "Show";
}

<h2>Show</h2>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
<form action="/Seller/Show" method="post">
    <input class="form-control" type="text" name="searching" value="" placeholder="Type package name" />
    <input class="form-control" type="submit" class="btn btn-warning" name="Searching" value="Search" />
</form>
<form action="/Seller/Show" method="get">
    <input class="form-control" type="submit" class="btn btn-primary" name="Showall" value="Show All" />
</form>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.packageid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.packagename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.details)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.discount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.createdat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.advertisement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.approvestatus)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.packageid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.packagename)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.details)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.discount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.createdat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.advertisement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.approvestatus)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.packageid }) |
                @Html.ActionLink("Details", "Details", new { id = item.packageid }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.packageid })
            </td>
        </tr>
    }

</table>
