@model IEnumerable<ANTS.Models.Package>

@{
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
    ViewBag.Title = "ViewSearchPackages";
}

<h2>ViewSearchPackages</h2>

<p>
    @Html.ActionLink("Back to Index", "Index")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.userid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.packagename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.details)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.discount)
        </th>
        @*@<th>
            @Html.DisplayNameFor(model => model.voucherid)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.createdat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.advertisement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.approvestatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.userid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.packagename)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.details)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.discount)
        </td>
        @*@<td>
            @Html.DisplayFor(modelItem => item.voucherid)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.createdat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.advertisement)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.approvestatus)
        </td>
        
    </tr>
}

</table>
